.container.post-admin
  .row
    .col-md-5
      %h1 Listing posts
    .col-md-offset-5.col-md-2
      .btn.btn-primary.new_button
        = link_to t('post.new_post'), new_post_path
  %table.table.table-striped.table-condensed.table-hover
    %thead
      %tr
        %th= t('post.title')
        %th= t('post.content')
        %th= t('post.created_at')
        %th= t('Show')
        %th= t('delete')
        %th= t('Destroy')
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.title
          %td= post.content.truncate(200, separator: ' ')
          %td= post.created_at
          %td= link_to t('Show'), post
          %td= link_to t('Edit'), edit_post_path(post)
          %td= link_to t('Destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }
  = paginate @posts
  %br