.container.post-admin
  .row
    .col-md-8
      .row
        %strong
          Title:
          = @post.title

      .row
        %strong
          = @post.content
      .row
        %strong
          = image_tag @post.images.url(:thumb)
      = link_to 'Edit', edit_post_path(@post)
      |
      \#{link_to 'Back', posts_path}a